<!DOCTYPE html>
<html lang="en">
<head>

</head>
<div class="container content-wrapper">
    <div class="form-wrapper p-5 shadow col-4">
        <div class="title text-center">
            <h5>FORGOT PASSWORD</h5>
        </div>
        <div class="content">
            <div>
                <div class="form-group">
                    <input type="email" class="form-control mt-3" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required onkeydown="clearError()">
                    <input type="text" maxlength="6" class="form-control mt-3 text-center" style="display: none;" id="otp" name="otp" placeholder="OTP" required>
                    <input type="password" maxlength="20" class="form-control mt-3 text-center" style="display: none;" id="password" name="password" placeholder="New password" required>
                    
                    <small class="error text-danger"></small>
                </div>
                <button type="button" class="btn btn-secondary col" id="btn-otp" onclick="getOTP()">Get OTP</button>
                <button type="button" class="btn btn-success col mt-3" id="btn-veri" style="display: none;" onclick="verifyOTP()">Verify</button>
                <button type="button" class="btn btn-primary col mt-3" id="btn-confirm" style="display: none;" onclick="changePassword()">Confirm</button>
                <div class="mt-2"> <a class="text-dark" href="/login">Login</a></small>
            </div>
        </div>
    </div>
</div>
<script>
    const clearError = () => {
        document.querySelector('.error').innerText = "";
    }

    const getOTP = () => {
        let email = document.getElementById("email").value;
        if(email){
            $.ajax({
                type: "POST",
                url: "/get-otp",
                data: {email: email},
                success: (res) => {
                    if(res.success){
                        document.getElementById('otp').style.display = "block";
                        document.getElementById('btn-veri').style.display = "block";
                        document.getElementById('btn-otp').style.display = "none";
                        document.getElementById('email').disabled = true;
                    }else{
                        document.querySelector('.error').innerText = res.msg;
                    }
                }
            })
        }else{
            document.querySelector('.error').innerText = "Email invalid!"
        }
    }

    const verifyOTP = () => {
        let otp = document.getElementById("otp").value;
        let email = document.getElementById("email").value;
        if(otp){
            $.ajax({
                type: "POST",
                url: "/verify-otp",
                data: {email: email, otp: otp},
                success: (res) => {
                    if(res.success){
                        console.log(res);
                        document.getElementById('otp').style.display = "none";
                        document.getElementById('btn-otp').style.display = "none";
                        document.getElementById('btn-veri').style.display = "none";
                        document.getElementById('btn-confirm').style.display = "block";
                        document.getElementById('password').style.display = "block";
                    }else{
                        document.querySelector('.error').innerText = res.msg;
                    }
                }
            })
        }else{
            document.querySelector('.error').innerText = "OTP invalid!"
        }
    }

    const changePassword = () => {
        let email = document.getElementById("email").value;
        let new_password = document.getElementById("password").value;
        if(new_password && email){
            $.ajax({
                type: "POST",
                url: "/change-password",
                data: {email: email, password: new_password},
                success: (res) => {
                    if(res.success){
                        window.location.href = "/login"
                    }else{
                        document.querySelector('.error').innerText = res.msg;
                    }
                }
            })
        }else{
            document.querySelector('.error').innerText = "Data invalid!"
        }
    }
</script>
</html>
